<div class="chat--container ">
    <!-- {{ friendProfile | async | json }} -->

    <div class="friend-details">
        <div class="image--detail">
            <img [src]="friendProfile?.imageUrl"/>
        </div>
        <p>{{friendProfile?.username}}</p>
    </div>

    <div class="messages scroller">
        <div *ngFor="let message of messages" class="message" 
        [ngClass]="message.senderId == userId ? 'user-me' : 'user-other'">
            <div *ngIf="message?.msgType === 'image'" >
                <img [src]="message?.text"/>
                <br>
                <p>{{message.msgTime | date: 'EEE h:mm a'}}</p>
            </div>
            <div *ngIf="message?.msgType === 'text'">
           <p> {{message.text}}
            <br>
            <!-- EEE h:mm a -->
            {{message.msgTime | date: 'full'}}
            </p>
            </div>
        </div>
        <div class="anchor"></div>
    </div>

    <div class="keyboard">
        <form (ngSubmit)="onSendMessage()">
            <input class="keyboard-input" type="text" 
                [ngModel]="myProperty" 
                (ngModelChange)="ngModelChange($event)" 
                name="myProperty" placeholder="message...."> 
                <button class="send-btn" type="submit" [disabled]="!myProperty">
                <img  width="35" height="30" src="/assets/send-message.svg">
                
                </button>  
        </form>
    </div>
</div>



