body { 
  /* height: 100%; */
  margin: 0px;
}


.grid-container{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 2.5fr 4.5fr ;
    grid-template-areas: "friend body ";                
    margin: 0px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}



.friend-list {
    grid-area: friend;
    min-width: 400px;
    background-color: #f0dbab;
    border: 2px solid burlywood;
    /* overflow-y: scroll;
    overflow-x: hidden; */
   
}


.message-body {
    grid-area: body;
    overflow: hidden;
     background-color: #f5eddb;
}


