.friendlist-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.top--container{
    display: flex;
    flex-direction: column;
    background-color: #f1d592;
    border-bottom: 2px solid;
    border:burlywood;
}

.top--buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.add,.edit{
    background-color: #f1d592;
    border-radius: 15%;
    border:0px;
    
}
/* #ec593c */
.edit:hover,.add:hover{
    background-color:#f5b848;
   
}

.edit:active,.add:active{
    background-color:#3d7deb;
   
}

.edit--profile{
    font-weight: 400;
    font-family:'Times New Roman', Times, serif;
}
.log--out{
    font-weight: 400;
    font-family:'Times New Roman', Times, serif;
}
/* ------------------------------------------------------------------------------- */

.friend-profiles{
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
    /* overflow-y: scroll; */
}

.friend-profile {
    display: grid;
    grid-template-rows: 40px 40px;
    grid-template-columns: 65px auto 80px 30px;
    grid-template-areas: "img username time btn"
                         "img msg msg msg";
    align-items: center;
    border-bottom: 1px solid #f1f1f1;

    padding: 10px 10px;

    /* border: 2px solid black; */

}

.friend-profile:hover {
    background-color: #f5b848;
}

.friend-profile.selected {
    background-color: #ee9c04;
}

.friend-profile.activated{
    background-color: #3d7deb;
}

.profile__img {
    grid-area: img;
    justify-self: center;
    align-self: center;
    /* background-color: blueviolet; */
}

.profile__img .profile__img--container {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    overflow: hidden;
    background-color: whitesmoke;
    border-radius: 100%;
}

.profile__img .profile__img--container > img {
    width: 80px;
    height: 80px;
}


.profile__username{
    grid-area: username;
    /* background-color: aquamarine; */
    padding: 0px 16px;
    color: #232f81;
    font-size:1.1rem;
    font-family:monospace;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.profile__time{
    grid-area: time;
    /* background-color: #ffffff; */
    justify-self: start;
    color: #575961;
    font-size: 0.8rem;
    font-family:monospace;
}

.profile__btn{
    grid-area: btn;
    /* background-color: #3ad; */
    justify-self: center;
    align-self: center;
    font-family:monospace;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #575961;
    font-size: 0.9rem;
    font-weight: bold;
}

.profile__msg{
    grid-area: msg;
    padding: 0px 16px;
    color: #575961;
    font-size: 0.9rem;
    font-family:monospace;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* * width */ 
::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    display:none;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(241, 212, 173)
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #f5b466;
  }