.top--buttons{
    background-color: #f0dbab;
    padding: 2px;
    display: flex;
    justify-content: space-between;
}

.add,.edit{
    background-color: #f0dbab;
    border-radius: 15%;
    border:0px;
    
}
/* #ec593c */
.edit:hover,.add:hover{
    background-color:#f5b848;
   
}

.edit:active,.add:active{
    background-color:#3d7deb;
   
}

.edit--profile{
    font-weight: 400;
    font-family:'Times New Roman', Times, serif;
}
.log--out{
    font-weight: 400;
    font-family:'Times New Roman', Times, serif;
}
/* ------------------------------------------------------------------------------- */
.friend-list-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.friend {
    border-bottom: 1px solid black;
    padding: 2px;
    display: grid;
    /* grid-template-columns: 20% 25% 30% 10% ; */
    grid-template-columns: 100px 100px 100px 50px ;
    grid-template-rows: 1fr 1fr ;
    grid-template-areas: "img name time delete"
                        "img msg msg msg";
                  
    column-gap: 13px;
    row-gap: 4px;                     
}

.friend:hover{
    background-color:#f5b848;
    cursor: pointer;
}


.friend--image{
    grid-area: img;
    display:flex;
    width: 80px;
    height: 80px;
    background-color:#f0e7d0;
    align-self: center;
    border: 1px solid rgba(30, 127, 192, 0.5);
    border-radius: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
  
}

.friend--name{
    grid-area: name;
    color: #232f81;
    padding: auto;
    font-size:1.1rem;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    overflow: hidden;
    text-overflow: ellipsis;
}

.friend--time{
    grid-area: time;
    color: #575961;
    font-size: 0.8rem;
    align-self: center;
    font-family:monospace;
    overflow: hidden;
    text-overflow: ellipsis;
}
.friend--lastmsg{
    grid-area:msg;
    padding: auto;
    font-family:monospace;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #575961;
    font-size: 0.9rem;
    font-weight: bold;
 
   
}

.friend--delete{
    display: flex;
    grid-area: delete;
    justify-self:flex-end;
    align-items: end;
}



