<button type="button" (click)="onAddFriend()">Add Friend</button>
<button type="button" (click)="onEditProfile()">Edit Profile</button>
<form>
	<!-- search bar -->
	<div class="mb-3 row">
		<label for="profile-search" class="col-xs-3 col-sm-auto col-form-label">Filter:</label>
		<div class="col-xs-3 col-sm-auto">
			<input
				id="profile-search"
				type="text"
				class="form-control"
				name="searchTerm"
				[(ngModel)]="service.searchTerm"
			/>
		</div>
		<span class="col col-form-label" *ngIf="service.loading$ | async">Loading...</span>
	</div>

	<!-- table data -->
	<table class="table table-striped">
	
		<tbody>
			<tr *ngFor="let profile of profiles$ | async "
                 (click)="onSelectFriend(profile.userId)">
				<td>
					<img [src]="profile.imageUrl"/>
				</td>
				<!-- <th scope="row">{{ profile.imageUrl }}</th> -->
				<td>
					<ngb-highlight [result]="profile.username" [term]="service.searchTerm"></ngb-highlight>
				</td>
				<td>
					<!-- ngIf statement for text / image -->
					<div *ngIf="profile?.msgType == 'image'">
						<img style="width:auto; height: 20px;" src="/assets/gif.svg">
						{{'GIF'}}
					</div>
					<div *ngIf="profile?.msgType != 'image'">
						{{profile.text}}
					</div>
				</td>
				<td>{{ profile.msgTime | date: 'short'}}</td>
                <td><button type="button"
                    class="btn btn-outline-secondary"
                    ngbPopover="Click X to remove friend"
                    triggers="mouseenter:mouseleave"
                    popoverTitle="Remove friend"
                     (click)="openDelete(profile)">
                     X</button></td>
			</tr>
		</tbody>
	</table>

</form>